.wrapper {
    position: relative;

  }

  .layout {
    display: flex;
    flex-direction: row;
    width:100vw;
    height:85vh;
  }

  main {
    position: relative;
    flex-grow: 1;
    padding: 1rem;
    /* background-color: #EBEBEB; */
  }

  .main-sidebar{
    min-width: 15rem;
  }
