.main-header {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    /* width: 90vmin; */
    height: 8vh;
    /* padding: 1rem; */
    border-bottom: 0.1rem solid #ECECEC;
}
  
.main-header > h1 {
  /* color: rgb(63, 81, 181); */
  color: #010409;
  font-family: "Open Sans 700", sans-serif;
}