#slider { /*положение слайдера*/
    position: relative;
	text-align: right;
    top: 0;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 900px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-3 активны, то идет обращение к лейблу из блока с id контролс*/
#switch4:checked ~ #controls label:nth-child(3), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2){
	background: url('img/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('img/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -20% 0 0 0;
	width: 100%;
	height: 50px;
}



#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}






body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    font-family: "DynaPuff", system-ui;
    background-color: #ff5733;
    color: white;
    padding: 5px 0;
    text-align: center;
}

nav ul {
    
    
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    font-family: "DynaPuff", system-ui;
    padding: 5px;
    margin: 10px;
    background-color: rgb(202, 172, 127);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ff5733;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ff5733;
    color: white;
}
.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    font-family: "DynaPuff", system-ui;
    background: #dd891b;
    border-radius: 40px;
    border: 10px solid #ffffff;
    padding: 10px;
    box-shadow: 0 0 30px #444;
    margin: 10px;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
}

.product h3 {
    margin-top: 0;
}
img {
    border-radius: 10px; 
    border: 10px rgb(231, 147, 20) solid; 
    box-shadow: 0 0 30px #444;
    width: 400px;
    }


    .menu {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

.tipamenu {
    
    font-family: "Rowdies", serif;
  font-weight: 300;
  font-style: normal;
    background: #ff5733;
    color: white;
    padding: 10px;
    margin: 10px;
    width: 220px;
    border-radius: 50%;
    box-sizing:content-box ;
    text-align: center;
}
#about {
    font-family: "Rowdies", serif;
    font-weight: 400;
    font-style: normal;
}
